/* To better understand the box model, we use pure CSS without frameworks */

a {
  text-decoration: none;
}
/* QUOTE */
.qoute {
  background-color: #2C9F97; 
  text-align: center;
  padding: 0.9em 0; 
  margin: 0; 
  line-height: 0; 
  border: 0;
}
/* ICON */
.site-icon{
  max-width: 27%; 
  height: auto; 
  object-fit: cover; 
  display: block; 
  margin: center; 
  padding: 0;
  border: 0;
}
/* MENUBAR */
.menubar,.other-posts{
  background-color: #2C9F97; 
  text-align: center;
  padding: 0.5em 0; 
  margin: 0; 
  line-height: 0; 
  border: 0;
}
.nav-link {
  color: black; 
  font-weight: bold; 
  font-size: large;
}
.nav-link:hover {
  color: #EEEEEE; 
}

/* BLOG BODY */
.blog-title a {
  color: #CE9C3F;
  font: 3vw;
  text-decoration: none;
}
.blog-title a:hover {
  color: red; 
  /* why is this not working */
}
body{
  background-color: #EEEEEE ;
  font: 18px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
.blog-body{
  margin-left: auto; margin-right: auto; width: 60% ;
}
.blog-body a {
  color: #CE9C3F;
  text-decoration: none;
}

.other-links a{
  color: #CE9C3F;
  font-weight: bold;
}
.other-links a:hover {
  color: #2C9F97;
}
.card{
  width: 29vw;
  background-color: #EEEEEE;
  border: 0.15vw solid black;
  border-radius: 0px;
  margin: 0.5vw ;
  padding: 0;
}

.other-links{
  margin-left: auto; margin-right: auto; width: 60% ;
  margin-bottom: 1vw ;
}


